*{
    margin: 0;
    padding: 0;
}
body, html{
    height: 100%;
    font-family: Myraid Pro, sans-serif;
}
.navbar-nav > li > a{
    color: #000;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 25px;
    padding-right: 43px;
}
.icon-menu{
    color: #FE7400;
    font-size: 22px;
}
a, a:hover, a:focus{
    text-decoration: none;
    outline: none;
}
.menu{
    font-size: 14px;
    position: relative;
    top: -2px;
    left: 12px;
}
.navbar-nav{
    background: #EAEAEA;
    border-radius: 6px;
    margin-top: 17px;
}
nav > .container-fluid{
    margin-top: 15px;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
    background: #FE7500;
    color: #fff;
}
li.active, li.active .menu, li.active .icon-menu{
    background: #FE7500;
    color: #fff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.navbar-nav > li:first-child > a:hover, .navbar-nav > li:first-child > a:focus{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.navbar-nav > li:last-child > a:hover, .navbar-nav > li:last-child > a:focus{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.navbar-nav > li > a:hover .icon-menu, .navbar-nav > li > a:focus .icon-menu{
    color: #fff;
}
.icon-title{
    color: #FE7400;
    font-size: 23px;
    position: relative;
    top: 1px;
}
.title{
    position: relative;
    top: -1px;
    left: 7px;
    font-size: 14px;
}
.panel-default > .panel-heading{
    background: #EAEAEA;
    border-color: transparent;
}
.panel{
    box-shadow: none;
}
.panel-default{
    border-color: #C4C4C4;
}
.panel-inner-container{
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 176px;
}
.form-control{
    background: #F5F5F5;
    border-color: #C4C4C4;
    box-shadow: none;
}
.form-control:focus{
    box-shadow: none;
}
textarea{
    resize: none;
}
.btn-main{
    background: #FE7500;
    color: #fff;
    font-size: 13px;
}
.btn-main:hover, .btn-main:focus{
    color: #eee;
}
.btn-save{
    float: right;
    margin-top: 8%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
}
.gallery-scroller{
    border: 1px solid #E3E3E3;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 4px;
    padding-right: 12px;
    overflow-y: scroll;
    height: 160px;
}
ul.list-gallery > li {
    margin-bottom: 10px;
    margin-right: -7px;
}
hr{
    border-color: #C4C4C4;
}

.navbar-toggle, .icon-bar{
    border: 1px solid #FE7400;
}
.btn-subscribe{
    background: #F80000;
    color: #fff;
    text-shadow: none;
    border: 1px solid #F80000;
    box-shadow: none;
    padding: 2px 10px;
}
.btn-subscribe:hover, .btn-subscribe:focus{
    background: #F80000;
    color: #fff;
    border-color: #F80000 !important;
}
.panel-inner-form-container{
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
.panel-inner-services-container{
    padding-left: 40px;
    padding-bottom: 40px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 670px;
    padding-right: 20px;
}
.panel-scroller{
    padding-right: 0px;
}
.field-search{
    background: #fff;
}
.txt-price{
    color: #FE7400;
    float: right;
    margin-top: -12px;
}
.list-service-title{
    position: relative;
    top: 12px;
    left: 7px;
}
.fa-star, .fa-star-half-o{
    color: #FFE100;
}
.list-service-title-ratings > li {
    padding-right: 0px;
    padding-left: 0px;
}
.list-service-title-ratings{
    margin-left: 0px;
}
.carousel-indicators .active{
    border-radius: 50%;
    background: #767774;
}
video{
    height: 207px;
    background: #ACABA8;
    border-radius: 4px;
}
.container-description{
    border: 1px solid #C4C4C4;
    background: #F5F5F5;
    border-radius: 4px;
    padding: 10px;
    height: 207px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.container-description small{
    color: #7E7E7E;
}
ul.list-staff-ratings > li{
    padding-right: 0px;
    padding-left: 0px;
}
ul.list-staff-ratings{
    margin-left: 0px;
}
.staff-name{
    position: relative;
    top: 10px;
}
.staff-desc{
    position: relative;
    top: 9px;
    left: -6px;
}
.panel-scroller-staff{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 701px;
}
.staff-div {
    height: 450px;
    overflow-y: scroll;
}
.txt-dark{
    color: #333 !important;
}
.menu-cal{
    left: -50px;
}
.btn-calendar{
    background: #FE7500;
    color: #fff;
}
.btn-calendar:hover, .btn-calendar:focus{
    color: #fff;
    z-index: 0 !important;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #FE7500 !important;
    background-image: none !important;
    color: #fff !important;
}
.square-green{
    color: #00A715;
}
.text-danger{
    color: #F80000;
}
.timings-div{
    height: 264px;
    overflow-y: scroll;
}
a, a:hover, a:focus{
    outline: none !important;
    text-decoration: none !important;
}
a[data-number="18"] > .monthly-day-number, a[data-number="19"] > .monthly-day-number, a[data-number="23"] > .monthly-day-number{
    background: #00A715;
    color: #fff;
    border-radius: 20px;
    top: 1px;
    left: 1px;
    font-size: 10px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}
@media(max-width: 1390px) and (min-width: 1260px){
    .service-container > img{
        height: 207px !important;
    }
}
.carousel, .carousel-inner, .item{
    border-radius: 6px  !important;
}
@media(max-width: 1260px) and (min-width: 1140px){
    .service-container > img{
        height: 181px !important;
    }
    video {
        height: 181px;
    }
    .container-description {
        height: 181px;
    }
}
@media(max-width: 1140px){
    .media-col-slider, .media-col-video{
        width: 50%;
    }
    .media-col-desc{
        width: 100%;
        margin-top: 15px;
    }
    .container-media-11 {
        padding-left: 0px !important;
    }
}
@media(max-width: 930px){
    .container-media-11 {
        padding-left: 10px !important;
    }
}
@media(max-width: 780px){
    .container-media-11 {
        padding-left: 15px !important;
    }
}
@media(max-width: 500px){
    .container-media-11 {
        padding-left: 20px !important;
    }
}
@media(max-width: 460px){
    .container-media-11 {
        padding-left: 30px !important;
    }
}
@media(max-width: 432px){
    .container-media-11 {
        position: relative;
        top: -30px;
        left: 26px;
    }
}
@media(max-width: 1140px) and (min-width: 980px){
    video, .service-container > img{
        height: 345px !important;
    }
}
@media(max-width: 980px) and (min-width: 830px){
    video, .service-container > img{
        height: 295px !important;
    }
}
@media(max-width: 830px){
    video, .service-container > img{
        height: 233px !important;
    }
}
@media(max-width: 768px){
    .panel-inner-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .panel-inner-services-container {
        padding-left: 2px !important;
    }
    .media-col-slider, .media-col-video{
        width: 50%;
    }
    .media-col-desc{
        width: 100%;
        margin-top: 15.5pc;
    }
    .panel-inner-form-container {
        padding-top: 28px;
        padding-left: 2px;
        padding-right: 2px;
    }
    .panel-ex {
        padding-right: 35px !important;
        padding-left: 35px !important;
    }
    .service-selected, .service-selected2, .service-selected3 {
        width: 94% !important;;
    }
    .service-selected2 {
        margin-top: -88px !important;
    }
    .service-selected3 {
        margin-top: -110px !important;
    }
    .panel-staff {
        margin-top: 85px !important;
    }
}
@media(max-width: 655px){
    .service-selected, .service-selected2, .service-selected3 {
        width: 93% !important;
    }
}
@media(max-width: 535px){
    .service-selected, .service-selected2, .service-selected3 {
        width: 92% !important;
    }
}
@media(max-width: 450px){
    .service-selected, .service-selected2, .service-selected3 {
        width: 90% !important;
    }
}
@media(max-width: 360px){
    .service-selected, .service-selected2, .service-selected3 {
        width: 88% !important;
    }
}
@media(max-width: 560px){
    video, .service-container > img{
        height: 225px !important;
    }
}
@media(max-width: 490px){
    .media-col-slider, .media-col-video, .media-col-desc{
        width: 100%;
        margin-bottom: 15px;
    }
    .service-container > img{
        height: auto !important;
    }
}
@media (min-width: 768px) and (max-width: 805px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}
@media(max-width: 805px){
    .navbar{
        margin-bottom: 40px;
    }
    .navbar-toggle{
        top: 20px;
    }
    .navbar-nav {
        background: #EAEAEA;
        border-radius: 0px;
        margin-top: 42px;
    }
    .navbar-nav > li:first-child > a:hover, .navbar-nav > li:first-child > a:focus, li.active{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .navbar-nav > li:last-child > a:hover, .navbar-nav > li:last-child > a:focus{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
@media(max-width: 1280px){
    .container-media-11{
        padding-left: 22px;
    }
}
@media(max-width: 1200px){
    .container-staff-desc{
        padding-left: 25px;
    }
    .service-selected {
        padding-bottom: 33px !important;
    }
}
@media(max-width: 1129px){
    .media-hr{
        display: none;
    }
    .panel-staff{
        margin-top: 50px;
    }
}
@media(max-width: 1100px){
    .container-staff-desc{
        padding-left: 4px;
        margin-top: -10px;
    }
    .img-staff-member{
        width: 60px;
    }
}
@media(max-width: 940px){
    .main-services-container, .main-staff-container{
        width: 100%;
    }
    .img-staff-member{
        width: auto;
    }
    .container-staff-img{
        width: 25%;
    }
    .staff-desc {
        top: 20px;
    }
}
@media(max-width: 540px){
    .container-staff-img {
        width: 130px;
    }
    .container-staff-desc {
        width: 127px;
    }
}
.service-selected{
    position: absolute;
    top: 111px;
    margin-top: -66px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    padding: 13px;
    margin-left: -15px;
    width: 93%;
}
.checkbox-service, .checkbox-service2, .checkbox-service3{
    cursor: pointer;
} 
.txt-white{
    color: #fff;
}
.modal-ex{
    padding: 0;
}
.forgot-pwd{
    margin-left: 20px;
    margin-top: 0px;
}
.panel-ex{
    padding: 90px;
}
.radio + .radio {
    margin-right: 25px;
}
.cc{
    margin-top: -4px;
}
.list-inner{
    margin-top: -15px;
}
.exp{
    margin-top: 20px;
}
.text-thanku{
    color: #903800;
}
@media(max-width: 1300px){
    .service-selected, .service-selected2, .service-selected3{
        width: 90%;
    }
}
@media(max-width: 1150px){
    .service-selected, .service-selected2, .service-selected3{
        width: 88%;
    }
}
@media(max-width: 965px){
    .service-selected, .service-selected2, .service-selected3{
        width: 86%;
    }
}
@media(max-width: 1197px){
    .service-selected2 {
        margin-top: -36px;
    }
    .service-selected3 {
        margin-top: -15px;
    }
}
@media(max-width: 949px){
    .service-selected2 {
        margin-top: -17px;
    }
    .service-selected3 {
        margin-top: 25px;
    }
}
@media(max-width: 813px){
    .service-selected2 {
        margin-top: 3px;
    }
    .service-selected3 {
        margin-top: 62px;
    }
}
@media(max-width: 572px){
    .service-selected2 {
        margin-top: -66px !important;
    }
    .service-selected3 {
        margin-top: -66px !important;
    }
}
@media(max-width: 401px){
    .service-selected2 {
        margin-top: -36px !important;
    }
    .service-selected3 {
        margin-top: -15px !important;
    }
}
@media(max-width: 318px){
    .service-selected2 {
        margin-top: -16px !important;
    }
    .service-selected3 {
        margin-top: 25px !important;
    }
}
@media(min-width: 768px) and (max-width: 992px){
    .timings-div {
        height: 490px;
    }
}
.service-select{
    position: absolute;
    background: rgba(0,0,0,0.4);
    text-align: center;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 77px;
    display: none;
}
.service-container:hover .service-select{
    display: block;
}

.active-staff{
    background:#EAEAEA;
}


/* .squaredTwo */
.about-customer{
    padding:0 10px;
}
.btn-schedule{
    margin:0;
}
.chk-box-list{
    position:relative;
}
.stars{
    position:absolute;
}
.squaredTwo {
    width: 49px;
    height: 49px;
    position: relative;
    margin: 7px auto 0;
    background: #f27a21;
    border-radius:5px;

}
.squaredTwo label {
    width: 45px;
    height: 42px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    background: #f27a21;
}
.squaredTwo label:after {
    content: '';
    width: 16px;
    height: 9px;
    position: absolute;
    top: 15px;
    left: 13px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.squaredTwo label:hover::after {
    opacity: 0.3;
}
.squaredTwo input[type=checkbox] {
    visibility: hidden;
}
.squaredTwo input[type=checkbox]:checked + label:after {
    opacity: 1;
}
