*{
    margin: 0;
    padding: 0;
}
body, html{
    height: 100%;
    font-family: Myraid Pro, sans-serif;
}
small{
    font-size:14px !important;
}
.container-fluid{
    margin-right: 15px;
    margin-left: 15px;
}
.row > .row {
    margin-left: 0;
    margin-right:0;
}
.savedMess {
    background-color: #6b9f00;
    border: 1px solid #6b9f00;
    border-radius: 4px;
    color: #ffffff;
    font-family: verdana;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    padding: 2px 5px;
}
input#foo{
    background: #fff;
    border: none;
    cursor: default;
    text-align: center;
    margin-top: 35px;
}
a, p{
    color: #000;
}
a:hover, a:focus, a:active{
    text-decoration: none;
    color: #333;
    outline: none !important;
}
.img-rect-pen{
    border: 1px solid #C4C4C4;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 8px;
}
.img-rect-hand{
    border: 1px solid #C4C4C4;
    padding-top: 8px;
    padding-bottom: 7px;
    padding-left: 13px;
    padding-right: 14px;
    border-radius: 8px;
}
.img-rect-mike{
    border: 1px solid #C4C4C4;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 21px;
    padding-right: 20px;
    border-radius: 8px;
}
.img-rect-sigs{
    border: 1px solid #C4C4C4;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 22px;
    border-radius: 8px;
}
.img-view, .img-help{
    margin-right: 13px;
}
.img-view{
    position: relative;
    left: 28px;
    z-index: 10;
}
.img-view-hover{
    left: -8px;
}
.img-help-hover{
    left: -8px;
}
.list-menu-top > li{
    margin-left: -10px;
}
.container-main-wrapper{
    margin-top: 20px;
}
.navbar-bg{
    background: #EAEAEA;
    border-radius: 6px;
}
.navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
}
.menu-caption{
    margin-left: -11px;
}
.menu-caption-cust{
    margin-left: -23px;
}
.menu-media{
    margin-left: 22px !important;
}
.image-user{
    margin-top: 9px;
}
.nav-primary{
    margin-left: -30px;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li > a:active, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .navbar-nav > li > a.active {
    background: #FE7500;
    color: #fff;
}
.icon-menu-hover-db, .icon-menu-hover-cal, .icon-menu-hover-mark, .icon-menu-hover-setting, .icon-menu-hover-report, .icon-menu-hover-setting{
    position: relative;
    left: -23px;
    opacity: 0;
}
.menu-db:hover .icon-menu-hover-db, .menu-cal:hover .icon-menu-hover-cal, .menu-cust:hover .icon-menu-hover-cust,
.menu-report:hover .icon-menu-hover-report, .menu-mark:hover .icon-menu-hover-mark, .menu-setting:hover .icon-menu-hover-setting,
.menu-db:focus .icon-menu-hover-db, .menu-cal:focus .icon-menu-hover-cal, .menu-cust:focus .icon-menu-hover-cust,
.menu-report:focus .icon-menu-hover-report, .menu-mark:focus .icon-menu-hover-mark, .menu-setting:focus .icon-menu-hover-setting,
.menu-db.active .icon-menu-hover-db, .menu-cal.active .icon-menu-hover-cal, .menu-cust.active .icon-menu-hover-cust,
.menu-report.active .icon-menu-hover-report, .menu-mark.active .icon-menu-hover-mark, .menu-setting.active .icon-menu-hover-setting
{
    opacity: 1;
}
.media-rep-sm{
    width: 12.667%;
}
.media-app-rep-sm{
    width: 14.667%;
}
.media-alert-rep-sm{
    width: 12.667%;
}
.icon-menu-hover-cust {
    position: relative;
    left: -35px;
    opacity: 0;
}
.icon-menu-hover-report{
    position: relative;
    left: -24px;
    opacity: 0;
}
.icon-menu-hover-mark {
    position: relative;
    left: -24px;
    opacity: 0;
}
.menu-caption-mark{
    margin-left: -14px;
}
.navbar-nav > li:first-child > a:hover, .navbar-nav > li:first-child > a:focus,.navbar-nav > li:first-child > a.active{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.navbar-right > li > a:hover, .navbar-right > li > a:focus{
    background: transparent;
    color: #FE7500;
}
.img-rect-pen-hover{
    position: relative;
    left: 20px;
    display: none;
    margin-top: -27px;
    z-index: 10;
}
.img-rect-hand-hover{
    position: relative;
    left: 14px;
    display: none;
    margin-top: -27px;
    z-index: 10;
}
.img-rect-mike-hover{
    position: relative;
    left: 22px;
    display: none;
    margin-top: -27px;
    z-index: 10;
}
.img-rect-sigs-hover{
    position: relative;
    left: 24px;
    display: none;
    margin-top: -26px;
    z-index: 10;
}
.li-icon-first:hover .img-rect-pen-hover, .li-icon-first:focus .img-rect-pen-hover,
.li-icon-sec:hover .img-rect-hand-hover, .li-icon-sec:focus .img-rect-hand-hover,
.li-icon-third:hover .img-rect-mike-hover, .li-icon-third:focus .img-rect-mike-hover,
.li-icon-forth:hover .img-rect-sigs-hover, .li-icon-forth:focus .img-rect-sigs-hover {
    display: block;
}
.li-icon-first:hover .img-rect-pen, .li-icon-first:focus .img-rect-pen, 
.li-icon-sec:hover .img-rect-hand, .li-icon-sec:focus .img-rect-hand, 
.li-icon-third:hover .img-rect-mike, .li-icon-third:focus .img-rect-mike,
.li-icon-forth:hover .img-rect-sigs, .li-icon-first:focus .img-rect-pen
{
    background: #FE7500;
    border-color: #FE7500
}
.dropdown:hover ul.dropdown-menu{
    /*display: block;*/
}
.panel-default > .panel-heading{
    background: #EAEAEA;
    border-color: transparent;
}

.panel{
    box-shadow: none;
    border: none;
    border: 1px solid #C4C4C4;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;

}
.panel-body {

}
/*.panel{
    box-shadow: none;
    border: none;
}
.panel-body {
    border: 1px solid #C4C4C4;
    border-top: none;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
} */
.staff-head{
    font-size: 14px;
    position: relative;
    top: 3px;
    left: 8px;
}
.list-staff{
    margin-bottom: 0;
}
.panel-heading {
    padding: 13px 15px;
}
.plus-square{
    color: #fff;
    background: #FE7500;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 3px;
    border-radius: 6px;
}
.no-padding-l{
    padding-left: 0;
}
.title-sm{
    font-size: 75%;
}
.staff-div{
    height: 239px;
    overflow-y: scroll;
}
.div-analytics{
    width: 90%;
}
.section-analytics{
    padding-left: 15px;
}
.nav-tabs {
    border-bottom: 1px solid #C4C4C4;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #fff;
    cursor: default;
    background-color: #FC7600;
    border: 1px solid #FC7600;
    border-bottom-color: #c4c4c4;
}
.nav-tabs > li > a:hover {
    border-color: #FC7600;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #c4c4c4;
    background-color: #FC7600;
}
.nav-tabs > li > a {
    margin-right: -1px;
    line-height: 1.42857143;
    border: 1px solid #c4c4c4;
    border-radius: 0px 0px 0 0;
}
.nav-tabs > li:first-child > a{
    border-top-left-radius: 4px;
}
.nav-main > li:last-child > a{
    border-top-right-radius: 4px;
    background: #EAEAEA;
}
.subpanel-1{
    padding-top: 25px;
    padding-bottom: 25px;
}
.content-inner{
    margin: 10px;
    border: 1px solid #C4C4C4;
    padding: 15px;
    border-radius: 6px;
    padding-bottom: 73px;
}
.description-inner{
    background: #F5F5F5;
    border: 1px solid #c4c4c4;
    padding: 15px;
    border-radius: 6px;
    height: 342px;
    overflow-y: scroll;
}
.btn-copy{
    margin-top: 17px;
    padding-top: 9px;
    padding-bottom: 10px;
}
.nav-tabs > li.caret-dropdown.active > a{
    background: #EAEAEA;
}
.caret-down-table{
    color: #FC7600;
}
.nav-tabs > li:last-child > a:hover, .nav-tabs > li:last-child > a:active, .nav-tabs > li:last-child > a:focus{
    border-color: #c4c4c4;
}
.fa-caret-down{
    color: #FC7600;
}
.panel-body-title{
    font-size: 14px;
}
.center-top{
    font-family: Arial Black,sans-serif;
    color: #FC7600;
    font-size: 6em;
    margin-top: -5px;
    margin-bottom: 5px;
}
.header-border{
    border: 1px solid #c4c4c4 !important;
    border-bottom: none !important;
}
.section-panel-footer > p{
    color: #7E7E7E;
    float: right;
    margin-top: -10px;
    padding-right: 15px;
}
.section-panel-footer{
    background: #F5F5F5;
    padding-top: 19px;
    padding-bottom: 19px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    position: relative;
    top: 15px;
}
.panel-center{
    padding-right: 0;
    padding-left: 0;
}
.table-scroller{
    height: 295px;
    overflow-y: scroll;
}
.panel-no-padding{
    padding: 0;
}
.img-view-hover, .img-help-hover{
    opacity: 0;
    position: relative;
    z-index: 500;
}
.img-help{
    position: relative;
    left: 25px;
}
.link-img-view:hover .img-view-hover, .link-img-view:focus .img-view-hover,
.link-img-help:hover .img-help-hover, .link-img-help:focus .img-help-hover{
    opacity: 1;
}
.activelimenq ul{
    display:block;

}
.fc-button-group button{
	text-transform:capitalize !important;
	}
.fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fc-state-disabled , .fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right{
	text-transform: capitalize !important;
	}
#reports_today_yesterday {
	margin-bottom: 16px;
    margin-top: -13px;
	}
#reports_today_yesterday small a {
	font-size:12px;
	color:#fe7500;
	}	
#advancesearchbutton{
	font-size: 12px;
	display: block;
	margin-bottom: 12px; 
	color: rgb(254, 117, 0);
	cursor:pointer;	
	float:right;
		}	
#search_appointments input , #search_appointments select{
	border-radius:0px;
	} 	
.highcharts-container > svg > text:last-child {
	display:none;
	}	
 .GaugeMeter {
        position: Relative;
        text-align: Center;
        overflow: Hidden;
        cursor: Default;
        display: inline-block;
    }

    .GaugeMeter SPAN, .GaugeMeter B {
        width: 54%;
        position: Absolute;
        text-align: Center;
        display: Inline-Block;
        color: RGBa(0,0,0,.8);
        font-weight: 100;
        font-family: "Open Sans", Arial;
        overflow: Hidden;
        white-space: NoWrap;
        text-overflow: Ellipsis;
        margin: 0 23%;
    }

    .GaugeMeter[data-style="Semi"] B {
        width: 80%;
        margin: 0 10%;
    }

    .GaugeMeter S, .GaugeMeter U {
        text-decoration: None;
        font-size: .60em;
        font-weight: 200;
        opacity: .6;
    }

    .GaugeMeter B {
        color: #000;
        font-weight: 200;
        opacity: .8;
    }
	#gaugeContainer circle {
		stroke:none;
		}
	.gift_certificate_form_cont{
		padding-top: 20px;
		padding-bottom: 20px;
		background:#FDEBDE;
		 border-radius: 20px;
		 }		
	.created_gift_certificates{
		margin:20px 0;		
		}
	.gift_certificates_body{
		background:#EAEAEA;
		max-width:400px;
		margin:0 auto;
		position:relative;
		border-radius:18px;
		}	
	.gifts_certificate_selling_buttons{
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background:#FDEBDE;
		opacity:0.95;
		text-align:center;
		padding-top:50%;
		z-index:14;
		display:none;
		border-radius:18px;
		
		}
	.gift_certificates_body:hover	.gifts_certificate_selling_buttons{
		display:block;
		}
	.gift_certificates_body:hover img {
		opacity:0.2;
		}			
	.gifts_certificate_selling_buttons a {
		background:#fc7600; 
		display:block;
		padding:5px 10px;
		color:#fff;
		border-radius:0;
		margin:0 auto 8px auto;
		max-width:200px;
		}	 
	.certifiate_scroll_button {
		position:absolute;
		bottom:10px;
		width:100%;
		padding:0 18px;
		}	
@media(max-width: 315px){
    .list-wmy > li > a {
        padding-left: 11px !important;
        padding-right: 11px !important;
    }
}
@media(max-width: 1210px){
    .list-wmy > li:nth-child(3) {
        margin-top: 33px;
    }
    .list-wmy > li > a {
        padding-top: 8px !important;
        padding-bottom: 7px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}
@media(max-width: 1067px){
    .list-wmy > li{
        padding-right: 0;
        padding-left: 0; 
    }
}
@media(max-width: 946px){
    .list-wmy > li > a {
        padding-left: 9px !important;
        padding-right: 9px !important;
    }
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #FFEBDD;
}
.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #F7F7F7;
}
.table{
    margin-bottom: 0;
}
.table > tbody > tr > th{
    padding-left: 15px;
}
.section-main{
    margin-top: 35px;
}
.panel-main{
    padding-top: 25px;
    padding-bottom: 26px;
}
.row-custom{
    margin-top: 10px;
}
.div-scroller{
    height: 192px;
    overflow-y: scroll; 
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 10px;
    font-weight: normal;
    vertical-align: middle;
}
.fa-add-services{
    color: #fff;
    background: #FC7600;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-right: 23px;
    padding-left: 23px;
    border-radius: 6px;
    font-size: 16px;
    border: 1px solid #FC7600;
}
.fa-question-mark{
    border-radius: 6px;
    background: #fff;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-right: 23px;
    padding-left: 23px;
    border-radius: 6px;
    font-size: 16px;
    border: 1px solid #c4c4c4;
}
.div-relative{
    position: absolute;
    right: 10px;
    z-index: 50;
}
.dropdown-large {
    position: static !important;
}
.dropdown-menu-large {
    margin-left: 15px;
    margin-right: 16px;
    padding: 0px 0px;
    width: 97.8% !important;
}
.panel-marketing {
    padding-top: 25px;
    padding-bottom: 33px;
    height: 965px;
}
.dropdown-menu-large > li > ul {
    padding: 0;
    margin: 0;
}
.dropdown-menu-large > li > ul > li {
    list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
    display: block;
    padding: 8px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
}
.dropdown-menu{
    background: #FE7500;
    border-color: #FE7500;
    box-shadow: none;
}
.dropdown-header > a{
    color: #fff !important;
}
.dropdown-menu-large{
    position: absolute;
    top: 66px;
}
.dropdown-header {
    padding: 0px 0px;
}
li.dropdown-header > a:hover, li.dropdown-header > a:active, li.dropdown-header > a.active{
    background: #CB5E00;
}
.dropdown-menu-large > .col-sm-2{
    padding-right: 0;
    padding-left: 0;
}
a.marketing:hover, a.marketing:focus, a.marketing{
    padding-bottom: 24px !important;
}
.form-control#foo {
    display: block;
    width: 100%;
    height: auto;
    padding: auto;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow:  none;
    -webkit-transition:  none;
    -o-transition:  none;
    transition:  none;
}
.modal-body .col-xs-6 {
    width:49%;

}
.modal-body .col-xs-12{
    width:99%;
}
@media(max-width: 992px){
    .list-icons-top > li{
        padding-right: 0;
        padding-left: 0;
    }
    .media-li{
        float: left !important;
    }
}
@media(max-width: 900px){
    .media-col1, .media-col2, .media-col3, .media-col4{
        width: 100%;
        text-align: center;
    }
    .logo{
        margin-right: auto;
        margin-left: auto;
        display: block;
        position: relative;
        top: 29px;
    }
    input#foo {
        margin-top: 20px;
        position: relative;
        top: 16px;
    }
    .media-col3{
        margin-top: 15px;
    }
    .list-menu-top{
        margin-top: -133px;
    }
    .list-icons-top{
        margin-top: 15px;
        float: none !important;
    }
}
@media(min-width: 768px) and (max-width: 1080px){
    .nav-primary{
        display: none !important
    }
}
@media(min-width: 1080px){
    #open-button{
        display: none;
    }
}
@media(max-width: 1080px){
    #open-button{
        display: block;
    }
}
@media(max-width: 768px){
    .media-col6{
        margin-top: 15px;
    }
    .collapse.navbar-collapse{
        display: block;
    }
    .modal-dialog-customer {
        width: auto !important;
    }
    .nav-primary{
        display: none !important
    }
    .tab-reports > tbody > tr > th{
        font-size: 12px;
    }
    .img-xs{
        margin: 0 !important;
    }
}
@media (max-width: 768px) {
    .dropdown-menu-large {
        margin-left: 0 ;
        margin-right: 0 ;
    }
    .dropdown-menu-large > li {
        margin-bottom: 30px;
    }
    .dropdown-menu-large > li:last-child {
        margin-bottom: 0;
    }
    .dropdown-menu-large .dropdown-header {
        padding: 3px 15px !important;
    }
    .li-userimg, .li-username{
        float: right;
        top: 11px;
    }
    .nav-user{
        margin-top: -20px;
    }
    .image-user{
        width: 85%;
        margin-top: 14px;
    }
    .menu-button {
        margin-top: 5px !important;
    }
    .nav-user {
        margin-top: -73px;
    }
    .div-relative {
        display: none;
    }
    .media-xs-full {
        margin-top: 0px !important;
    }
    .panel-marketing {
        height: auto;
    }
    .content-inner {
        margin-right: 0;
        margin-left: 0;
        margin-top: 30px;
    }
    .section-main {
        margin-bottom: 15px;
    }
}
@media(max-width: 1095px){
    .panel-body-title {
        font-size: 13px;
    }
    .center-top {
        font-size: 4em;
    }
}
@media(max-width: 920px){
    .media-xs-full{
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-top: -30px;
    }
    .no-padding-l{
        padding-right: 0;
    }
    .div-relative > ul{
        position: relative;
        top: 15px;
    }
    .no-padding-l {
        margin-top: -17px;
    }
    .page > div{
        max-width: 100% !important;
    }
    .media-col5{
        width: 33.33333333%;
    }
    .div-relative{
        position: relative;
    }
    .section-analytics {
        padding-left: 18px;
    }
}
.section-calendar{
    border: none;
    margin-top: -15px;
}
@media(max-width: 1096px){
    .div-scroller {
        height: 161px;
    }
}
@media(max-width: 526px){
    .nav-tabs > li > a {
        font-size: 10px;
    }
    .nav-tabs-sidebar > li > a, .nav-rules > li > a{
        font-size: 14px;
    }
}
@media(max-width: 420px){
    .nav > li > a {
        padding: 10px 7px;
    }
    .li-username{
        position: relative;
        top: 26px;
    }
    .image-user {
        margin-top: 11px;
    }
}
@media(max-width: 400px){
    #foo.form-control {
        font-size: 10px;
    }
}
@media(max-width: 318px){
    .img-rect-pen {
        padding-left: 13px;
        padding-right: 13px;
    }
}
@media(max-width: 340px){
    .nav-tabs > li > a {
        font-size: 8px;
    }
    .nav-tabs-sidebar > li > a, .nav-rules > li > a{
        font-size: 13px;
    }
}
@media(max-width: 1038px){
    .panel-body-title {
        font-size: 10px;
    }
}
@media(max-width: 470px){
    .table-scroller {
        height: 295px;
        overflow-x: scroll;
    }
}
.list-wmy > li > a{
    border: 1px solid #c4c4c4;
    border-radius: 6px;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
}
.list-wmy > li > a:hover, .list-wmy > li > a:focus{
    background: #FC7600;
    border-color: #FC7600;
    color: #fff;
}
.list-wmy{
    margin-top: 25px;
}
.media-column-sm{
    width: 9.667%;
}
.search-table{
    background: transparent;
    border-top: medium none;
    box-shadow: none;
    border-radius: 0px;
    border-right: medium none;
    border-left: medium none;
    position: relative;
    right: 20px;
    width: 70%;
    padding: 0 12px;
}
.search-table:focus{
    box-shadow: none;
}
.table-panel-head > tbody > tr > th{
    vertical-align: middle;
}
.search-table-main-div{
    margin-top: -14px;
    position: relative;
    top: 11px;
}
.panel-table-head{
    padding-bottom: 0px;
}
.row-panel-head{
    background: #EAEAEA !important;
}
.scroller-tab{
    height: 777px;
    overflow-y: scroll;
}
.fa-exclamation-circle{
    color: #FFA300;
    cursor: pointer;
}
.fa-trash{
    color: #E60000;
    cursor: pointer;
}
.fa-envelope{
    color: #008ADF;
    cursor: pointer;
}
.fa-crosshairs{
    cursor: pointer;
}
.td-status{
    color: #FE7500;
    padding-left: 30px !important;
}
.go-prev, .go-next{
    background: #FE7500 !important;
    color: #fff !important;
}
ol.pagination > li > a{
    color: #333;
}
ol.pagination > li > a:hover, ol.pagination > li > a:focus{
    color: #FC7600;
    background: transparent;
}
.text-size{
    font-size: 82%;
}
.btn-main{
    background: #FE7500;
    color: #fff !important;
    font-size: 13px;    
}
.btn-continuation{
    margin-top: 5px;
}
hr{
    border-color: #C4C4C4;
}
.container-btns {
    height: 432px;
    padding-top: 170px;
}
.dropdown-customer:hover .dropdown-large-customer, .dropdown-marketing:hover .dropdown-large-marketing,
.dropdown-reports:hover .dropdown-large-reports
{
    display: block;
    z-index:10001;
}
.container-reports{
    margin-top: 42px;
}
.site-margins{
    margin-right: 31px !important;
    margin-left: 10px !important;
    margin-top: 7px;
    margin-bottom: -7px;
}
.btn-site-margins{
    margin-right: 23px !important;
    margin-left: 19px !important;
}
.btn-default{
    background: #fff !important; 
    background-image: none !important;
}
.dropdown-menu-reports > li > a:hover, .dropdown-menu-reports > li > a:focus, .dropdown-menu-reports > li > a{
    background: transparent;
    color: #fff !important;
    font-size: 13px;
}
.current-reports{
    margin-top: -11px;
    margin-bottom: 5px;
}
.dropdown-menu-reports{
    padding-bottom: 17px;
}
.caret-sidebar{
    color: #fff !important;
    position: relative;
    z-index: 9000;
}
@media(max-width: 970px){
    .list-action{
        width: 157px;
    }
}
@media(max-width: 720px){
    .list-action{
        width: 157px;
    }
    .search-table {
        width: auto;
        left: -54px;
    }
    .scroller-tab {
        overflow-x: scroll;
    }
}
@media(max-width: 1260px){
    .panel-market{
        margin-top: 26px;
    }
    .div-relative-marketing{
        margin-top: -20px;
    }
    .nav-toggle > li > a{
        font-size: 11px;
    }
}
@media(max-width: 1080px){
    .panel-market > ul > li > a{
        font-size: 12px;
        padding: 8px 10px;
    }
    .nav-toggle > li > a{
        padding: 7px 11px;
    }
}
@media(max-width: 1300px){
    .foot{
        margin-top: 20px;
    }
}
.list-modal > li > a{
    color: #FE7400 !important;
    font-weight: bold;
}
.list-modal > li > a:hover{
    color: #666 !important;
    background: transparent !important;
}
.modal-body > ul > li{
    padding-top: 8px;
}
@media(max-width: 1216px){
    .li-media{
        width: 10.667%;
    }
}
.list-modal-header > li > a{
    color: #FC7600 !important;
    border: 1px solid #c4c4c4;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
    position: relative;
	display:inline-block;
}
.modal-dialog-customer {
    width: 660px;
}
#modal-form2 .modal-header, .modal-dialog-customer .modal-header{
    background: #EAEAEA;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.modal-body-inner-contents{
    border: 1px solid #c4c4c4;
    margin: 10px;
    border-radius: 6px;
    padding: 10px;
}
.upload-image{
    color: #fff;
    background: #FC7600;
    border-radius: 51%;
    padding: 5px;
    position: absolute;
    left: 75px;
}
.txt-theme{
    color: #FE7500 !important;
}
textarea{
    resize: none;
}
.modal-body-inner-tabs{
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
}
.nav-customer-details > li > a{
    font-size: 12px;
}
.nav-customer-details > li:last-child > a{
    background: transparent;
}
.nav-customer-details > li:last-child > a:hover, .nav-customer-details > li:last-child > a:focus{
    background: #FC7600;
}
@media(max-width: 593px){
    .list-modal-header > li {
        margin-bottom: 10px;
    }
}
@media(max-width: 369px){
    .list-modal-header > li > a {
        padding-right: 7px;
        padding-left: 6px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
.text-danger{
    color: #FA7A7C;
}
.alert-warning{
    background: #FEE4D1 !important;
}
.media-set-sm{
    width: 9.66%;
    margin-right: -7px;
    margin-left: -1px;
}
.nav-tabs-sidebar > li > a{
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid transparent;
}
a.last:hover{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;  
}
.nav-tabs-sidebar > li > a:hover, .nav-tabs-sidebar > li.active > a{
    border-top-left-radius: 0 !important;
}
.nav-tabs-sidebar{
    border-bottom: none !important;
}
.panel-body-nav-tabs-sidebar{
    padding-top: 0;
    padding-bottom: 0;
}
.panel-table{
    padding: 0
}
.list-name{
    position: relative;
    top: 11px;
}
.div-desc{
    margin-top: 25px;
}
@media(max-width:767px){
    .first{
        top:-25px !important;
    }
    .panel-rules1 {
        margin-top: 1pc !important;
    }
    .btn-row {
        margin-top: 3pc !important;
        margin-bottom: 1pc !important;
    }
}
label{
    font-weight: normal;
}
@media(max-width:500px){
    .panel-default > .panel-heading {

        height: 75px !important;
    }
    .first{
        top:0px !important;
    }
    .font{
        top:-20px !important;
    }
}
@media(max-width:314px){
    .panel-default>.panel-heading{
        height:100px !important;
    }
    .first{
        right:-15px !important;
        top:-10px !important;
    }
    .font{
        right:60px !important;
    }
    .fir{
        padding:9px !important;
    }
}
@media(max-width:445px){
    .font{
        top:-20px !important;
    }
}
.scroll-table{
    overflow-y: hidden;
    width: 100%;
}
@media(max-width: 1200px){
    .dropdown-large-marketing > li{
        width: 18.667%;
    }
    .media-set-sm {
        width: 12.66%;
    }
    .media-sel{
        position: relative;
        top: 7px !important;
    }
}
@media(max-width: 390px){
    .li-media-auto{
        width: auto !important;
    }
}
.nav-rules > li:hover a{
    border-radius: 0;
}
.nav-rules > li:last-child a:hover{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.nav-rules > li:last-child a{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.panel-rules1{
    margin-top:10px;
}
.btn-row{
    margin-top: 7pc;
    margin-bottom: 4pc;
}
@media(min-width: 768px) and (max-width: 920px){
    .panel-rules2{
        margin-top: 2pc;
    }
}

/**/
@media(max-width:767px){
    .first{
        top:-25px !important;
    }
}
@media(max-width:500px){
    .panel-default > .panel-heading {

        height: 75px !important;
    }
    .first{
        top:0px !important;
    }
    .font{
        top:-20px !important;
    }
}
@media(max-width:314px){
    .panel-default>.panel-heading{
        height:100px !important;
    }
    .first{
        right:-15px !important;
        top:-10px !important;
    }
    .font{
        right:60px !important;
    }
    .fir{
        padding:9px !important;
    }
}
@media(max-width:445px){
    .font{
        top:-20px !important;
    }
}
.staff {
    font-size: 14px;
    position: relative;
    top: 0px !important;
    left: 8px;
}
.side{
    height:480px !important;
}
.top{
    top:12px !important;
    padding-bottom: 10px !important;
}

@media(max-width:920px){
    .side{
        height:200px !important;
    }
    .full1{
        margin-top:20px !important;
    }

}
@media(max-width:480px){
    .panel-default > .full{
        height:50px !important;
    }
    .modal-body .col-xs-6 {
        width:100%;

    }
    .modal-body .col-xs-12{
        width:100%;
    }
}
@media(max-width:300px){
    .right{
        padding-right:45px !important;
    }
}
/**/
@media(max-width:767px){
    .first{
        top:-25px !important;
    }
}
@media(max-width:500px){
    .panel-default > .panel-heading {

        height: 75px !important;
    }
    .first{
        top:0px !important;
    }
    .font{
        top:-20px !important;
    }
}
@media(max-width:314px){
    .panel-default>.panel-heading{
        height:100px !important;
    }
    .first{
        right:-15px !important;
        top:-10px !important;
    }
    .font{
        right:60px !important;
    }
    .fir{
        padding:9px !important;
    }
}
@media(max-width:445px){
    .font{
        top:-20px !important;
    }
}
.staff {
    font-size: 14px;
    position: relative;
    top: 0px !important;
    left: 8px;
}
.side{
    height:480px !important;
}
.top{
    top:12px !important;
    padding-bottom: 12px !important;
}

@media(max-width:920px){
    .side{
        height:200px !important;
    }
    .full1{
        margin-top:20px !important;
    }

}
@media(max-width:480px){
    .panel-default > .full{
        height:50px !important;
    }
}
@media(max-width:300px){
    .right{
        padding-right:45px !important;
    }
}
.sid{
    height:360px !important;
}
.start{
    top: 15px;
    margin-bottom: 15px;
}
.hei{
    height:100px !important;
}
.side1{
    height: 630px !important;
}
@media(max-width:920px){
    .side1{
        height:200px !important;
    }
}
.ad{
    background-color:#FE7500 !important;
    width:70px !important;
    border-color: none !important;
}
.col{
    background-color: antiquewhite !important;
    margin-top: -14px !important;
}
.col1{

}
.min{
    top:6px !important;
}
.side2{
    height:568px !important;
}
@media(max-width:480px){
    .panel-default > .panel-heading.full2{
        height:55px !important;
    }
}
@media(max-width:767px){
    .check{
        top:-20px !important;
    }
}
@media(max-width:920px){
    .side2{
        height:300px !important;
    }
    .sed{
        margin-top:0px !important;
    }
}
@media(max-width:1200px){
    .box1{
        left:50px !important;
    }
}
@media(max-width:611px){
    .wid{
        width:100% !important;
    }
}
@media(max-width:600px){
    .box1{
        left: 31px !important;
        width: 75% !important;

    }
}
@media(max-width:611px){
    .top2{
        top:2px !important;
    }
}
.li-right-item{
    margin-top: -68px;
}
.media-select{
    position: relative;
    top: 0px;
}
.li-right-item-rel{
    position: relative !important;
    top: 1px !important;
}
@-moz-document url-prefix(){
    .li-right-item{
        margin-top: -6px;
    }
    .media-select{
        position: relative;
        top: -27px;
    }
    .li-right-item-rel{
        position: relative !important;
        top: -3px !important;
    }
}
.panel-tab8{
    height: 36pc !important;
}
.panel-tab8-main{
    height: 63pc;
}
.content-inner-top{
    background: #FEF1E8;
    padding: 15px;
}
.content-inner-bottom{
    background: #F2F2F2;
    padding: 15px;
    margin-top: 1px;
}
@media(max-width:611px){
    .top2{
        top:2px !important;
    }
}
.drop{
    background-color:#fff !important;
    left:-140px !important;

}
@media(max-width:970px){
    .drop{
        left:-122px !important;
    }
}
.ad1{
    width: 100px !important;
    border-color: none !important;
    background-color:#FE7500 !important;
    margin-bottom:10px !important;

}
@media(max-width:1101px){
    .ad1{
        margin-left: 16px !important;
    }
}
.list{
    position: relative !important;
    left: 10px !important;
}
.globe{

    position: relative !important;
    left: -20px !important;

}
.line1{
    line-height:28px !important;
}
@media(max-width:830px){
    .line1 {
        line-height: 18px !important;
    }
}
@media(max-width:767px){
    .globe{
        position: relative !important;
        left: 0px !important;
    }
}
@media(max-width:348px){
    .font{
        font-size:9px !important;
    }
}
.staffimageform{
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 90%;
    z-index: 10001;
}
.displaystaff_bigblock{
    display:none;

}
.changeProfile{
	color: #fe7500;
    font-size: 12px;
}
.staffimageform {
	bottom:-16px;
	}
.dt-buttons .dt-button{
	color:#fff;
	background:#fe7500; 
	border:none;
	}
.dt-buttons .dt-button:hover{
	color:#fff;
	background-color:#fe7500 !important;
	border:none !important;
	background-image:none !important;
	}	
.dataTables_filter input{
	border:1px solid #ccc;
	padding:4px;
	border-radius:4px;
	}
/* =======================
          Ali CSS
===========================*/

.staff-head-2{
	padding: 20px 0 5px 0;
	overflow: hidden;
	clear: both;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	color:#000;
}
.coupon-panel{
	background:#fdebde;
}
.offer-panel{
	background:#dbedfa;
}
.form-lable{
	width:37%;
}
.num-of-booking{
	width:20% !important;
}
button{
	border:none !important;
}
.btm-btns{
	padding-right:20px;
}
.three-btns{
	margin:20px 15px;
}
.orange-btn{
	background-color:#f27a21;
}
.blue-btn{
	background:#0d85de;
}
.default-btn{
	border:1px solid #ccc !important;
}
.dropdown-menu-2{
	background:#fff;
	border:1px solid #ccc;
	width:100%;
}
.text-box{
	background:#fdebde;
	font-size:12px;
	padding:20px;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	margin:0 20px 20px;
	overflow:hidden;
}
.text-box-blue{
	background:#dbedfa;
	font-size:12px;
	padding:20px;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	margin:0 20px 20px;
	overflow:hidden;
}
.coupon-table{
	margin:50px 0;
}
.offer-table th{
	background:#0d85de !important;
}
.table-head{
	color:#7f7f7f;
	font-size:16px;
}
.table-outer{
	width:100%;
}
.table-outer table{

}
.table-outer th{
	background:#f27a21;
}
.table-outer{
	width:100%;
	border: 1px solid #ccc;
	border-radius: 16px;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
}
.table-outer table{
	width:100%;
}
.table-outer table th{
	padding:15px;
	background:#f27a21;
	color:#fff;
	font-weight:normal;
	font-size:18px;
	border-radius:15px;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
}
.address-cell{
	padding:15px;
	font-size:18px;
	color:#000;
}
.img-cell{
	background:#dedede;
}
.info-cell{
	background:#f27a21;
	color:#fff;
}
.icon-cell{
	width:30%;
}
.list-cell{
	width:70%;
}
.gift-img{
	width:100%;
}
.table-list{
	padding:20px 25px 0 !important;
	font-size:16px;
	border:none;
}
.offer-blue-table{
	background:#0d85de;
}
.coupon-table table span.glyphicon{
	font-size:75px;
}
.schedule-btn{
	background:#fff;
	padding:10px 25px;
	color:#000;
	border-radius:5px;
	margin:20px;
	font-size:18px;
	font-weight:200;	
}
.percentage{
	width:70%;
	display:inline-block;
}
.select-unit{
	width: 25%;
	display: inline-block;
	float: right;
}

.customer_panel .panel-main {

}

@media(max-width:767px){
    .three-btns li{
		width:100%;
		margin-bottom:10px;
	}
	.table-outer table th{
		font-size:15px;
	}
	.address-cell{
		font-size:12px;
	}
	.table-list{
		font:14px;
	}
	.icon-cell{
		width:100%;
	}
	.list-cell{
		width:100%;
	}

}
@media(max-width:340px){
   
}
@media(max-width:340px){
   

}
@media(max-width:378px){
   

}
