.t_header

{
    background:#2C81BA;
    width:100%;
    height:auto;
}
.logo
{
    padding: 25px 32px 31px 42px;
    background: #ecf0f1;
    margin-top: 5px;
    margin-bottom: 5px;
}


.heading
{ font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size:45px ;
    color:#FFFFFF ;
    font-weight:normal;
    padding-left: 4%;
    padding-bottom: 2%;
    padding-top: 1%;

}


.heading2
{ font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size:35px ;
    color:#FFFFFF ;
    font-weight:normal;
    padding-left: 4%;
    padding-bottom: 2%;
    padding-top: 1%;

}

.form {
    font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #666;
    margin-top: 5px;
    margin-bottom: 100px;
    border:solid 1px #E7E7E7;
}

.form h1 {
    color:#0075c2;
}

.form h2 {
    font-size:26px;
    float:left !important;
    padding-left:20px;
    margin-top: 17px;
}

.margin
{
    margin-top: 14px;
    margin-right: 26px;
    float:right;

}


.form header {
    display: block;
    padding: 15px 30px;
    background: #3498DB;
    font-size: 35px;
    font-weight: normal;
    color: #FFFFFF;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding-bottom: 34px;
    border-bottom: solid 5px #2c81ba;
}

.form fieldset {
    display: block;
    padding: 25px 30px 5px;
    border: none;

}

.form label {
    font-size:20px;
    font-weight: normal;
    line-height: 1.6;
    /*float:right;*/
    padding-right: 10px;
}

.form input[type="text"] {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height:35px;
    padding: 6px 10px;
    outline: none;
    border-width:1px;
    border-style: solid;
    border-color: #e5e5e5;
    border-radius: 0;
    font: 17px/23px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #848484;
    /*float:left;*/
    margin-bottom: 20px;
}

input[type="radio"]{
    width: 6%;
    display: inline;
    height: 25px;

}

.right
{
    float:right;
}

.right2
{
    float:right;
}

.pera
{
    font-size:12px;
    color:#888888;
    font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

input[type=radio].css-checkbox

{

    display:none;


}

input[type=radio].css-checkbox + label.css-label {
    padding-left:32px;
    height:27px;
    line-height:27px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:27px;
    vertical-align:middle;
    cursor:pointer;
    font-size:20px;
    color:#4c4c4c;



}

input[type=radio].css-checkbox:checked + label.css-label {
    background-position: 0 -27px;


}
label.css-label {
    background-image:url(../img/radio_btn.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}









input[type=checkbox].cs-checkbox

{

    display:none;


}

input[type=checkbox].cs-checkbox + label.cs-label {
    padding-left:32px;
    height:27px;
    line-height:27px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:27px;
    vertical-align:middle;
    cursor:pointer;
    font-size:20px;
    color:#4c4c4c;



}

input[type=checkbox].cs-checkbox:checked + label.cs-label {
    background-position: 0 -27px;


}
label.cs-label {
    background-image:url(../img/check_btn.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.option
{
    margin-left: 41px;
    margin-top: 5px;
}

.nxt input
{


    width: 181px;
    height: 51px;
    border: none;
    outline: none;
    background-color: #3498db;
    color: #FFFFFF;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom:solid 3px #186aa1;
}


.green_btn input
{


    width:200px;
    height:45px;
    border: none;
    outline: none;
    background-color: #3fbb26;
    color: #FFFFFF;
    font-size: 21px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom:solid 4px #268E11;
}

.blue_btn input
{


    width: 99px;
    height: 36px;
    border: none;
    outline: none;
    background-color: #2C81BA;
    color: #FFFFFF;
    font-size: 21px;

    border-bottom: solid 3px #1D618E;
}
.h-h4
{
    color: #2C81BA;
    font-size: 25px;
    padding-bottom: 17px;
}
.border_left
{
    border-left:none !important;
}
.g-btn
{
    width: 156px;
    height: 26px;
    border: none;
    outline: none;
    background-color: #3fbb26;
    text-align: center;
    margin-left: auto;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.6;
    text-decoration:none;
}


/*thead*/
/*{*/
    /*background:#444d53;*/
    /*color:#FFFFFF;*/
    /*font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-size:19px;*/
    /*letter-spacing:1px;*/
    /*font-weight:normal;*/

/*}*/
/*thead th*/
/*{*/
    /*text-align:center;*/
/*}*/
.custom-dropdown--large {
    font-size: 17px;

}

.custom-dropdown--small {
    font-size: .7em;
}

.custom-dropdown__select{
    font-size: inherit; /* inherit size from .custom-dropdown */
    padding: .5em; /* add some space*/
    margin: 0; /* remove default margins */
}

.custom-dropdown__select--white {
    background-color: #fff;
    color: #444;
}

.custom-dropdown__select--emerald {
    color: #9E9E9E;
}

.custom-dropdown__select--red {
    background-color: #d53a22;
    color: #fff;
}

@supports (pointer-events: none) and
				  ((-webkit-appearance: none) or
				  (-moz-appearance: none) or
				  (appearance: none)) {


    h2+p {
        color: green; /* Demo only */
    }

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
    }

    .custom-dropdown__select {

        border: 0;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        width: 100%;
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%; margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,.3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,.1);
    }

    /* White dropdown style */
    .custom-dropdown--white::before {
        background-color: #fff;
        border-left: 1px solid rgba(0,0,0,.1);
    }

    .custom-dropdown--white::after {
        color: rgba(173, 173, 173, 0.9);
    }



    /* FF only temporary & ugly fixes */
    /* the "appearance: none" applied on select still shows a dropdown arrow on Firefox */
    /* https://bugzilla.mozilla.org/show_bug.cgi?id=649849 */
    @-moz-document url-prefix() {
        .custom-dropdown__select 						 { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
    }

}

/* Demo only */


.custom-dropdown {

    margin-bottom: 15px;
    display: inline-block;
    border: solid 1px #E5E5E5;
}




.h-h3 h3 {
    font-size:25px;
    float:left !important;
    padding-left:20px;
    margin-top: 17px;
    color:#2c81ba;
}


.btns-right
{
    text-align: right;
}
.btns
{

}


.btns .button1 {
    background-color: #1588EF;
    width: 120px;
    height: 39px;
    margin: 10px 0 0 20px;
    padding: 0 25px;
    outline: none;
    border: 0;
    font: 300 15px/39px 'Open Sans', Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    padding-left: 39px;
    padding-right: 37px;


}

.form .button2 {
    background-color: #CB3535;
    width: 120px;
    height: 39px;
    margin: 10px 0 0 20px;
    padding: 0 25px;
    outline: none;
    border: 0;
    font: 300 15px/39px 'Open Sans', Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    padding-left: 39px;
    padding-right: 37px;
    float:right;
}


.form .button1 {
    background-color: #1588EF;
    width: 120px;
    height: 39px;
    margin: 10px 0 0 20px;
    padding: 0 25px;
    outline: none;
    border: 0;
    font: 300 15px/39px 'Open Sans', Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    padding-left: 39px;
    padding-right: 37px;
    float:right;
}


.box1
{
    border: 1px solid #E5E5E5;
    overflow: hidden;

    margin-bottom:30px;
    border-radius: 4px;

}


.login

{ width:400px;
    margin:0 auto;

}


.login .form {
    font: 14px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #666;

    box-shadow: 0 0 20px rgba(0,0,0,.3);
}


.login .form header {
    display: block;
    padding: 20px 20px;
    border-bottom: 5px solid #2372BA;
    background: rgba(49, 138, 218, 1);
    font-size: 25px;
    color: #FFFFFF;
    text-align:left;

}

.form .note {
    margin-top: 6px;
    padding: 0 1px;
    font-size: 12px;
    line-height: 15px;
    color: #999;
}

.login .form label

{
    padding-right:0 !important;
}
.note a
{
    color: #2da5da;
    text-decoration: underline !important;
}

.form .bt {
    height: 39px;
    width:35%;
    margin: 10px 0 0 0px;
    padding: 0 25px;
    outline: none;
    border: 0;
    font: 300 15px/39px 'Open Sans', Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background-color: #1588EF;
    float: right;
    margin-top: 31px;
    margin-bottom: 27px;
}

.fl
{float:right;
    margin-right: 18px;

}

.box1 ul
{ list-style:none;
    padding-left: 0;
    padding-top:15px;

}

.box1 ul li
{
    padding-bottom:15px;
}

.footer

{
    background:#2C81BA;
    width:100%;
    height:50px;
}
.footer p
{
    font-size: 14px;
    color: #fff;
    font-family: arial;
    padding-top: 19px;
    float: right;
}

.img-f img
{
    display: inline;
    padding-right: 7px;
    padding-left: 0px;
}

.list-o ul
{border: solid 1px #E5E5E5;
    width: 170px;
    padding:9px 0px 0px 16px;

}
.list-o ul li
{
    list-style:none;
    padding-bottom: 8px;
}
.logout
{
    float:right;
    margin-top: 9px;
}

.logout a
{
    background-color: #3498DB;
    padding: 7px;
    color: white;
}

.logout2
{
    float:right;
    margin-top: 9px;
}

.logout2 a
{
    background-color: #FFFFFF;
    padding: 7px;
    color: #3498DB;
    border-radius:4px;
    font-weight:600;
}

.logout2 a:hover
{
    text-decoration:none;
}

@media (max-width:768px)

{

    .logo img
    { margin:0 auto !important
    }

    .heading
    {
        text-align:center !important;
    }
    .heading2
    {
        text-align:center !important;
    }

    .pad
    { padding-left:0;
        padding-right:0;
    }

    .form label
    {
        float:none;
    }

    .right2
    {
        float:none;
        margin-bottom:10px;
    }
    .margin
    {

        float:none;
        margin: 0 auto;
        margin-top: 14px;
        margin-bottom: 14px;


    }
    .pad
    {
        padding-top:0 !important;
        padding-bottom:0 !important;
        padding-left:0 !important;
    }

    .form h2
    {
        float:none !important;
        text-align:center;
    }

    .h-h3 h3 {
        float:none !important;
        text-align:center;
    }
    .g-btn
    { margin-bottom:0 !important;
    }


    .fl
    {float:none;
        margin-right: 0;

    }

    .nav-tabs > li {
        float: none !important;
        margin-bottom: -1px;
        border-left:none;
        margin-left: -2px;
    }

}

@media (max-width:480px)

{
    .heading
    {
        font-size:1.4em
    }

    .heading2
    {
        font-size:1.3em
    }

    .form h1 {
        font-size:1.4em
    }
    .h-h3 h3
    {
        font-size:1.3em
    }
    .form h2
    {
        font-size:16px;
        text-align:center;
    }
    .login
    {
        margin: 0 auto;
        width: 300px;
    }
}


@media (min-width:768px){
    .padoff
    {
        padding:0 !important;
    }
}


@media (min-width:768px) and (max-width:958px)

{
    .form label {
        font-size:16px !important;}

    .heading2
    {
        font-size:25px;
    }
}

@media (max-width:360px)
{

    .form .button2
    {
        float:none !important;
    }



}

.grid-view a{
    color: #0088e4;
}
.grid-view th{
    color: #333;
    background-color:#fff ;
    text-align: left;
}

.inner-form{
    padding: 20px 100px 20px 100px;
}

.cdl
{
    margin-bottom:30px;
    text-align:center;
}


.cdl_btn1 a
{
    width: 150px;
    height: 51px;
    border: none;
    outline: none;
    background-color: #0873ba;
    color: #FFFFFF;
    font-size: 24px;
    padding:15px 74px 15px;
}

.cdl_btn2 a
{
    width: 181px;
    height: 51px;
    border: none;
    outline: none;
    background-color: #0873ba;
    color: #FFFFFF;
    font-size: 24px;
    padding:15px 49px 15px;
}


.cdl_btn3 a {
    width: 181px;
    height: 51px;
    border: none;
    outline: none;
    background-color: #0873ba;
    color: #FFFFFF;
    font-size: 23px;
    padding: 15px 49px 15px;
    font-weight: bold;
}

.cdl a:hover
{
    text-decoration:none;
}
/*jquery fullcalendar*/
.fc-ltr .fc-basic-view .fc-day-number {
    color: black;
    font-weight: bold;

}
.fc-other-month  {
    visibility: hidden;

}
/*end jquery fullcalendar*/

#icon-print{
    float: right;
    cursor: pointer;
}
#icon-exit{
    float: right;
    cursor: pointer;
}

.crt-buttons-row{
    width: 100%;
    text-align: center;

}



.crt-buttons-bottom , .crt-buttons-bottom:hover{
    background-color: #1588EF;
    width: 213px;
    height: 39px;
    margin: 10px 0 0 20px;
    padding: 0 25px;
    outline: none;
    border: 0;
    font: 300 15px/39px 'Open Sans', Helvetica, Arial, sans-serif;
    text-decoration: none !important;
    color: #fff;
    padding-left: 39px;
    padding-right: 37px;
    display: inline-block;
}

.crt-buttons-bottom-change , .crt-buttons-bottom-change:hover{
    background-color: #CB3535;
    width: 213px;
    height: 39px;
    margin: 10px 0 0 20px;
    padding: 0 25px;
    outline: none;
    border: 0;
    font: 300 15px/39px 'Open Sans', Helvetica, Arial, sans-serif;
    text-decoration: none !important;
    color: #fff;
    padding-left: 39px;
    padding-right: 37px;
    display: inline-block;
}
.header-user-welcome{
    font-size: 10px;
    font-weight: bold;
    color: #fff;
}

.header-user-welcome a{
    font-size: 10px;
    font-weight: bold;
    color: #fff;
}

.third-party-login-form-div{
    width: 50%;
    margin: auto;
}
.third-party-login-form-div input[type="text"]{
    width: 90%;
}
.third-party-login-form-div input[type="password"]{
    width: 90%;
}

#modal-h1{
    font-size: 22px;

}


#modal-form2 .modal-header{
    padding-bottom: 0px;
    padding-top: 0px;
}
#modal-selected-date-h2{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
}

.right-aligned-btn-div{
    text-align: right;
}

.customers-form input[type="radio"]{
    width: 10%;
}
.customers-form #customers-sub_test_type label{
    width: 250px;
}
.customers-form #customers-license_class label{
    width: 250px;
}


html, body { height: 100%; }
.container {
    height: auto;
    min-height: 73.7%;
    width: 100%;
}
.t_header > .row{
    margin-left: 0px;
    margin-right: 0px;
}



.form-line-breaker{
    width: 100%;
    float: left;
    min-height: 5px;
}

.form-group {
    margin-bottom: 2px;
    width: 30%;
    float: left;
    padding-left: 20px;
}


#sitem1{
    margin-left: 35px;
}
#sitem2{
    border: 0px;
    margin-bottom: 10px;
    margin-top: 15%;
}
.sitem3 {
    margin-left: 42%;
    font-size: 28px;
    /* font-weight: bold; */
    padding-left: 60px;
    padding-right: 60px;
    letter-spacing: 5px;
}

.sitem4{
    width: 100%;
    float: left;
    padding-bottom: 5px;
}

.sitem5{
    float: left;
    padding: 0 0 0 0;
}
#sitem6{
    padding-left: 85px;
    padding-right: 85px;
}

#sitem7{
    padding-left: 113px;
    padding-right: 113px;
}
