ruiheader @font-face {
	font-family: 'Roboto-Regular';
	src: url('http://rui.dc.gov/rui/css/fonts/Roboto-Regular-webfont.eot'); /* IE9 Compat Modes */
	src: url('http://rui.dc.gov/rui/css/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('http://rui.dc.gov/rui/css/fonts/Roboto-Regular-webfont.woff') format('woff'), /* Modern Browsers */
	     url('http://rui.dc.gov/rui/css/fonts/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('http://rui.dc.gov/rui/css/fonts/Roboto-Regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	}

ruiheader .clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}





ruiheader header, ruiheader hgroup, ruiheader section, ruiheader body {
	margin: 0 0 10px 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	font: inherit;
}

ruiheader h1, ruiheader h2, ruiheader h3, ruiheader h4, ruiheader h5, ruiheader h6{
	text-decoration: none;
	font-weight: normal;
	line-height: 1.5;
	letter-spacing: normal;
	font-family: Roboto-Regular;
	color:#20394f;
}

ruiheader a, ruiheader body{
	font-family: Roboto-Regular;
	font-size: 14px;

}
ruiheader a{
	color: #2b4888;
	text-decoration:none;
}
ruiheader a:hover{
	text-decoration:underline;
}


ruiheader .dots {
	background-image: url(http://rui.dc.gov/rui/css/images/dot.png);
	min-width: 100%;
	position: absolute;
	top: 4px;
	height: 3px;
}

ruiheader img{
	border:0 none;
}
ruiheader #dcrui-header-top {
	border-top: 11px solid #2B4888;
}
ruiheader .zone-branding-wrapper{
	border-bottom: 5px solid #ccc;
}
ruiheader .header-link:hover, ruiheader .rightButton:hover,ruiheader #mobile-main-menu li.expanded ul li:hover {
	background: #DDE8FE;
}
ruiheader .header-link {
	position: absolute;
	top: 25px;
	right: 5px;
	text-align: center;
	text-transform: capitalize;
	display: block;
	border: 1px solid #ccc;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: #fff;
	/*cursor: pointer;
	*/text-shadow: none;
	padding: 0 15px;
	line-height: 50px;
}
ruiheader .logo-img{
	float: left;
    margin: 0 10px 0 10px;
}
ruiheader .logo-img img{
	    width: 100px;
}

ruiheader .region-branding{
	border-bottom: 5px solid #ccc;
}


ruiheader h2:after {
    border-bottom: 1px solid #d5d5d5;
    bottom: -6px;
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
}
ruiheader h2 {
    background: url(http://rui.dc.gov/rui/css/images/h2stars.png) no-repeat scroll 99% 75% rgba(0, 0, 0, 0);
    border-bottom: 1px solid #d5d5d5;
    font-weight: normal;
    margin-bottom: 8px;
    padding-bottom: 1px;
    position: relative;
}
/* ---mobile screens without HD ---*/
@media only screen and (max-width: 960px) {


/*********** HEADER STYLES *********/
h1{
	font-size:22px;
}
h2{
	font-size:18px;
}
.logo-img{
	float: none;
	margin: 21px 10px 0px 10px;
}
h1.agency-title{
	margin-left:10px;
}

.rightButton, .header-link
{
position: absolute;
top: 25px;
right: 5px;
text-align: center;
text-transform: capitalize;
display: block;
border: 1px solid #ccc;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
padding: 0 15px;
background: #fff;
/*cursor: pointer;
*/text-shadow: none;
line-height: 50px;
}
/*.agency-title{ 
	margin-left:10px;
}*/
.header-link {
 	right: 65px;
}
.header-link-no-menu{
	right: 10px;
}
.header-link:hover, .rightButton:hover {
	background: #DDE8FE;
}


nav{
	display: none;
}

/*--Menu Styles--*/

/*hide main menu*/

.block-system-main-menu {
	display:none;	
}

#mobile-head {
  margin: 0;
  min-width:255px;
  width:100%;
  display: block;
  background:transparent;
  position:absolute;
  top:0;
  z-index:9;

}

#mobile-head #mobile-main-menu-container {
  position: relative;
  height: 0px;
  width: 100%;
  margin: 0;
  z-index: 10;
}

#mobile-head #search-container {
	position:absolute;
	right:0px;
	top:60px;
	width:100%;
	background:rgba(236,236,236,0.6);
	border-top:1px solid #D9D9D9;
  	border-bottom:1px solid #D9D9D9;
	display:none;
	z-index:9999;
}

#mobile-head #search  {
	float:right;
	margin:10px;
	width:90%;
}
 
#mobile-main-menu {
  display: none;
  list-style: none;
  margin: 0px;
  padding: 5px;
  height: auto;
  position: absolute;
  border:1px solid #D9D9D9;
  top : 60px;
  left: 0;
  width: 98%;
  z-index: 1000;
  background: #fff;
}

.no-js #mobile-head #search-container,
.no-js #mobile-main-menu {
	display:block;	
}

#mobile-main-menu.showme {
  display: block;
}

#mobile-head ul {
	margin:0;	
}
#mobile-head ul li ul {
    background-color: #fff;
    display: none;
    padding: 0 0 25px;
}

#mobile-main-menu li {
	display: block;
	border-bottom: 1px solid #fff;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}


#mobile-main-menu li:before {
	content: ' ';
	display: block;
	width: 8px;
	height: 8px;
	border-top: 2px solid #2b4888;
	border-right: 2px solid #2b4888;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -6px;
}

#mobile-main-menu li:after {
	display: block;
	height: 1px;
	content: ' ';
	background: #fff;
	position: absolute;
	left:0px;
	right: 0;
	bottom: 0;
}


#mobile-main-menu li a {
	color: #2b4888;
/*	background: #ebecee url(http://rui.dc.gov/rui/css/images/nav-arrow.png) no-repeat scroll 95% 50%;*/
	background: #ebecee;
	background-size: auto;
	font-weight: normal;
/*	font-size: 16px;
	font-family: Arial, serif;*/
	display: block;
	padding: 10px 10px;
	text-align: left;
	text-decoration: none;
	line-height: 30px;
}


#mobile-main-menu li a:hover,
#mobile-main-menu li a:focus,
#mobile-main-menu li a:active
 {
/*  color:#ffffff;	 
*/  
	/*background: rgb(43, 72, 136) url(http://rui.dc.gov/rui/css/images/nav-arrow.png) no-repeat scroll 95% 50%;
  background: rgba(3, 72, 136, 1.0) url(http://rui.dc.gov/rui/css/images/nav-arrow.png) no-repeat scroll 95% 50%; */
}


#mobile-main-menu li a span.mobile-arrow {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-bottom: -3px;
  margin-left: 10px;
  float: right;
}

#mobile-main-menu li.expanded {
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#mobile-main-menu li.expanded:before{
	display: block;
	width: 8px;
	height: 8px;
	border-top: 0;
	border-right: 0;
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -6px;
	color: #fff;

}

#mobile-main-menu li.expanded:after {
	display: block;
	height: 1px;
	content: ' ';
	background: #fff;
	position: absolute;
	left:0px;
	right: 0;
	bottom: 0;
}

#mobile-main-menu li.expanded ul li a {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px dotted #ccc;
    margin: 0 25px;
    width: 80%;
}

#mobile-main-menu li.expanded a {

/*	background-color: #0885d5;
*/}

/* use splice eventually */ 
#mobile-main-menu li.expanded > a {
	/*background: #3e3e3e;*/ /* Old browsers */
	/*background: -moz-linear-gradient(top, #3e3e3e 1%, #383838 100%);*/ /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#3e3e3e), color-stop(100%,#383838));*/ /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top, #3e3e3e 1%,#383838 100%);*/ /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top, #3e3e3e 1%,#383838 100%);*/ /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top, #3e3e3e 1%,#383838 100%); *//* IE10+ */
	/*background: linear-gradient(to bottom, #3e3e3e 1%,#383838 100%);*/ /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3e3e', endColorstr='#383838',GradientType=0 );*/ /* IE6-9 */
	/*background-image: url(/sites/all/themes/dc_home_omega/images/plus.png);*/
	
	background-repeat:no-repeat;
	background-position: 97% 50%;
}


#mobile-main-menu li.expanded > a:hover,
#mobile-main-menu li.expanded > a:active,
#mobile-main-menu li.expanded > a:focus {
	background:#dde8fe;
	text-decoration:underline;
/*  color:#fff;
*/
/*  background-color: rgb(43, 72, 136);
  background-color: rgba(3, 72, 136, 1.0);*/
}

#mobile-main-menu li.expanded  > a.expand {
	/*color:#fff;
	background-image: url(http://dc.gov/sites/all/themes/dc_home_omega/images/minus.png);
	background-repeat:no-repeat;*/
	background-position: 97% 50%;
	border-bottom:none;
	background-color: rgb(43, 72, 136);
    background-color: rgba(3, 72, 136, 1.0);
    color: #fff;
}
#mobile-main-menu > li.expanded > a:before
{
	content:'   +   ' ;
	font-size:21px;
	float:right;
	color:#2b4888;
	margin-right: 8px;
}

#mobile-main-menu li.expanded > a.expand:before {
    color: #fff;
    content: " - ";
    float: right;
    font-size: 21px;
}
section-header{
	margin-bottom:10px;
}
/*********** FOOTER STYLES *********/

#dcrui-footer-wrapper{
	display: none;
}

.section-footer{
	text-align: center;
}
.zone-footer-wrapper{
	background: #fff;
	color: #646464;
}
.zone-footer-wrapper ul li{
	list-style: none;
}
.zone-footer-wrapper a{
	color: #646464;
	text-decoration: none;
}
.zone-footer-wrapper a:visited{
	color: #000000;
}
.zone-footer-wrapper .dcFooter .dcFooterList {
	text-align: left;
}
.zone-second-footer-wrapper{
	color: #fff;
/*	margin-top: -45px;
*/}
/*.zone-second-footer-wrapper, .zone-footer{
	margin-left: 10px;
	margin-right: 10px;
}*/
#resources-link ul{
	margin-bottom: 0;
}
.dcFooterListLower ul li{
	list-style: none;
	margin-bottom: 5px;
	padding: 15px;
	background: #2B4888;
	text-align: left;
}
.dcFooterListLower ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	display: block;
}
/*.zone-second-footer-wrapper .dcFooterListLower ul li a:after{
	content: ">";
	float: right;
}*/
.dcFooterListLower ul li a:hover{
	text-decoration: underline;
	background: none;
}
.dcFooterListLower ul li a:visited{
	color: #fff;
}
.zone-second-footer-wrapper .dcFooter{
	text-align: center;
	text-decoration: none;
}
.dcFooterListLower ul{
	margin-top: 15px;
	font-family: Roboto-Regular;
	padding-left: 0;
}
.dcFooterList ul {
    display: none;
    background: #fff;
    text-indent: 10px;
    padding:0;
}
.dcFooterList ul li{
	padding: 15px;
	font-size: 14px;
	font-family: Roboto-Regular;
}
.dcFooterList ul li:hover{
	background: #DDE8FE;
}
.dcFooterList ul li a{
	width: 100%;
	display: block;
	color: #2b4888;
}
.dcFooterList ul li a:hover{
	text-decoration: underline;
}
.dcFooterList ul.open {
    display: block;
    transition:display 2s;
	-webkit-transition:display 2s; /* Safari */  
}

.dcFooterList .dcFooterLabel:before {
    color: #2b4888;
    content: " + ";
    float: right;
    font-size: 21px;
    margin-right: 4px;
}
.dcFooterList .dcFooterLabel.expanded:before {
    color: #2b4888;
    content: " - ";
    float: right;
    font-size: 21px;
}
.dcFooterList .dcFooterLabel:before:hover{
	text-decoration:none;
}

/* CODE FOR ARROWS USING IMAGE*/
/*.dcFooterList ul.open a:after{
	content: url(/sites/default/files/dc/shared_assets/more_arrow.png);
	float:right;
	margin-right: 5px;
}*/
/* CODE FOR ARROWS USING CSS*/
.dcFooterList ul li, .dcFooterListLower ul li{
	position: relative;
}
.dcFooterList ul li a:before, .dcFooterList ul li a:after,
.dcFooterListLower ul li a:before, .dcFooterListLower ul li a:after{
    border-right: 2px solid;
    content: '';
    display: block;
    height: 8px;
    margin-top: -6px;
    position: absolute;
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 10px;
    top: 50%;
    width: 0;
    margin-right: 12px;
    behavior: url(PIE.htc);
}
.dcFooterList ul li a:before, .dcFooterList ul li a:after{
    border-right-color: #2B4888;
}
.dcFooterListLower ul li a:before, .dcFooterListLower ul li a:after {
    border-right-color: #fff;	
}

.dcFooterList ul li a:after,.dcFooterListLower ul li a:after{
    margin-top: -1px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    behavior: url(PIE.htc);
}

 .dcFooterList .footer-icon{
 	display: none;
 }
 .dcFooterList div{
 	margin-bottom: 5px;
 	font-weight: normal;
 	color: #2b4888;
 }
 .dcFooterList .top-level-footer .toggle-sign{
 	float: right;
 	font-size: 14px;
	margin-right: 10px;
	padding-right: 10px;
	padding-top: 15px;
 	color: #2b4888;
 }
 div.dcFooterLabel{
 	background: #EBECEE;
	padding: 15px;
 }
 div.dcFooterLabel:hover{
 	text-decoration: underline;
	background:#dde8fe;
}
.dcFooterListLower ul .last{
	background: #2B4888 url(http://rui.dc.gov/rui/css/images/footer-stars-bars.png) no-repeat center!important;
	min-height: 20px;
}
/*#section-footer:after{
	background: url(http://dc.gov/sites/default/files/dc/shared_assets/BOW13_final.jpg) no-repeat center!important;
	min-height: 70px;
	content: '';
	display: block;
	margin-top: 10px;
}*/
.award-logo img{
	display: none;
}

}








/*------mobile, tablet and hd mobile------*/
@media only screen and (max-width: 799px) {

}














/* ========================================== */
/* ! Desktop                                  */
/* ========================================== */

@media only screen and (min-width: 960px) {
	
#mobile-head {
	display:none;
}






/* Footer styles */
/** Used to clear main body content to allow for the gray footer separator bar **/
form#Form1:after {
height: 0;
 content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.zone-footer-wrapper a:visited {
color: #000000;
}
.zone-footer-wrapper {
background: #fff;
color: #646464;
}
.container-12 {
margin-left: auto;
margin-right: auto;
}

#zone-postscript {
width: 1040px;
}

.dcrui-footer-wrapper #resource-icon-section {
text-align: center;
margin: 10px;
color: #ccc;
font-size: 15px;
display: inline-block;
}
.dcrui-footer-wrapper:before {
box-shadow: 0px 7px 10px #ccc;
content: 'x';
display: block;
width: 100%;
text-indent: -9999px;
}

.zone-prefooter-wrapper, .zone-footer-wrapper, .dcrui-second-footer-wrapper {
text-align:center;
}

#zone-postscript {
width: 1040px;
}

#zone-postscript {
text-align: center;
padding: 10px;
}

#zone-postscript {
display: block;
}

.dcrui-footer-wrapper #resource-icon-section .resource-content-block {
margin: 10px 25px 10px 25px;
}

.dcrui-footer-wrapper #resource-icon-section .resource-content-block {
float: left;
padding: 10px;
position: relative;
margin: 10px 25px 10px 25px;
}
.dcrui-footer-wrapper .twitter-resource-icon {
background: url(images/twitter.png) no-repeat center;
}
.twitter-resource-icon, .facebook-resource-icon, .maps-resource-icon, .mobile-resource-icon, .webcasts-resource-icon, .rss-resource-icon, .data-resource-icon, .youtube-resource-icon, .subscribe-resource-icon, .twitter-resource-icon:hover, .facebook-resource-icon:hover, .maps-resource-icon:hover, .mobile-resource-icon:hover, .webcasts-resource-icon:hover, .rss-resource-icon:hover, .data-resource-icon:hover, .youtube-resource-icon:hover, .subscribe-resource-icon:hover {
min-height: 50px;
width: 50px;
}

.resource-icon-text:hover {
    background: #DDE8FF;
}
.dcrui-footer-wrapper .twitter-resource-icon{
	background: url(http://rui.dc.gov/rui/css/images/twitter.png) no-repeat center;
}
.dcrui-footer-wrapper .twitter-resource-icon:hover{
	background: url(http://rui.dc.gov/rui/css/images/twitter-hover.png) no-repeat center;
}
.dcrui-footer-wrapper .facebook-resource-icon {
	background: url(http://rui.dc.gov/rui/css/images/facebook.png) no-repeat center;
}
.dcrui-footer-wrapper .facebook-resource-icon:hover {
	background: url(http://rui.dc.gov/rui/css/images/facebook-hover.png) no-repeat center;
}
.dcrui-footer-wrapper .mobile-resource-icon {
	background: url(http://rui.dc.gov/rui/css/images/mobile.png) no-repeat center;
}
.dcrui-footer-wrapper .mobile-resource-icon:hover {
	background: url(http://rui.dc.gov/rui/css/images/mobile-hover.png) no-repeat center;
}
.dcrui-footer-wrapper .maps-resource-icon {
	background: url(http://rui.dc.gov/rui/css/images/maps.png) no-repeat center;
}
.dcrui-footer-wrapper .maps-resource-icon:hover {
	background: url(http://rui.dc.gov/rui/css/images/maps-hover.png) no-repeat center;
}
.dcrui-footer-wrapper .webcasts-resource-icon {
	background: url(http://rui.dc.gov/rui/css/images/webcasts.png) no-repeat center;
}
.dcrui-footer-wrapper .webcasts-resource-icon:hover {
	background: url(http://rui.dc.gov/rui/css/images/webcasts-hover.png) no-repeat center;
}
.dcrui-footer-wrapper .rss-resource-icon {
	background: url(http://rui.dc.gov/rui/css/images/rss.png) no-repeat center;
}
.dcrui-footer-wrapper .rss-resource-icon:hover {
	background: url(http://rui.dc.gov/rui/css/images/rss-hover.png) no-repeat center;
}
.dcrui-footer-wrapper .data-resource-icon {
	background: url(http://rui.dc.gov/rui/css/images/data.png) no-repeat center;
}
.dcrui-footer-wrapper .data-resource-icon:hover {
	background: url(http://rui.dc.gov/rui/css/images/data-hover.png) no-repeat center;
}
.dcrui-footer-wrapper .youtube-resource-icon {
	background: url(http://rui.dc.gov/rui/css/images/youtube.png) no-repeat center;
}
.dcrui-footer-wrapper .youtube-resource-icon:hover {
	background: url(http://rui.dc.gov/rui/css/images/youtube-hover.png) no-repeat center;
}
.dcrui-footer-wrapper .subscribe-resource-icon {
	background: url(http://rui.dc.gov/rui/css/images/subscribe.png) no-repeat center;
}
.dcrui-footer-wrapper .subscribe-resource-icon:hover {
	background: url(http://rui.dc.gov/rui/css/images/subscribe-hover.png) no-repeat center;
}


.resource-icon-text {
position: absolute;
bottom: -20px;
font-family: Roboto-Regular;
font-size: 14px;
}


#zone-postscript-wrapper .more-link {
margin-right: 20px;
}
h4.more-link {
text-align: right;
background: 0;
padding: 0;
}

h4.more-link:after {
content: url(http://rui.dc.gov/rui/css/images/more-arrow.png);
float: right;
margin-left: 7px;
margin-top: 4px;
display: block;
}

.zone-prefooter-wrapper {
background: url(http://rui.dc.gov/rui/css/images/line_bg.jpg) repeat-x center;
}
.zone-prefooter-wrapper:before {
content: url(http://rui.dc.gov/rui/css/images/main_stars.jpg);
min-width: 100px;
margin-top: -29px;
}


.dcFooter {
	TEXT-ALIGN: center !important;
	FONT-SIZE: 14px;
	PADDING-BOTTOM: 24px;
	LINE-HEIGHT: 19px;
	display:inline-block;
}



.dcFooterList {
DISPLAY: inline-block;
MARGIN: 6px 18px;
VERTICAL-ALIGN: top;
TEXT-ALIGN: left;
}

#resources-link{
	display:none;
}

.dcrui-section-footer {
text-align: center;
}

div.dcFooterLabel {
color: #444444;
padding: 5px 0 10px 0;
}
.dcFooterList ul {
padding: 0px;
margin: 0px;
}
.dcFooterList li {
DISPLAY: list-item;
LIST-STYLE-TYPE: none;
}



.zone-footer-wrapper {
background: #EBECEE;
color: #646464;
}

/*.dcBar > .dcFooterList{
	display: inline-block;
}
*/
.dcFooter .dcBar {
MARGIN-LEFT: auto;
WIDTH: 972px;
MARGIN-RIGHT: auto;
}
/*.dcFooter {
TEXT-ALIGN: center !important;
}*/

.dcFooterList ul {
display: block!important;
}
.dcrui-second-footer-wrapper {
background: #2B4888;
}
.dcrui-second-footer-wrapper .dcFooterListLower ul li {
margin: 15px;
}
.dcrui-second-footer-wrapper .dcFooterListLower ul li a {
font-size: 14px;
display: inline;
color: #fff;
}
.dcFooter a:hover, #footer-wrapper a:hover {
TEXT-DECORATION: underline;
}

.dcFooterListLower ul::after, .dcFooterListLower ul::before {
content: url(http://rui.dc.gov/rui/css/images/h2stars.png);
}

.dcFooterListLower ul li {
margin: 15px;
}
.dcFooterListLower li {
DISPLAY: inline;
}
.dcFooterListLower ul li a:hover {
text-decoration: underline;
background: none;
}
.dcFooterListLower ul li a:visited {
color: #fff;
}

}


/* ========================================== */
/* ! Desktop                                  */
/* ========================================== */
/*  Center Header Elements  */
@media only screen and (min-width: 1040px) {

	.centerHeader{
		width: 1020px;
		margin-left: auto;
		margin-right: auto;
	}

	.centerHeader > .logo-img{
		margin-top: 15px;
		float: left;
	}
	.centerHeader > .header-title{
		float:left;
	}
	.centerHeader > .header-link{
		float: right;
		margin-top: 15px;
		position:relative;
		top:0;
		right:0;
		width:55px;
	}

}
